#peers {
    /* position: absolute; */
    /* top: 12rem; */
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5rem;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; */
}

#me {
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    height: 12rem;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

video {
    /* position: relative; */
    width: 16rem;
    height: 9rem;
    background: transparent;
    object-fit: cover;
    border: 0.2rem solid black;
}

#me video {
    transform: scaleX(-1);
}


input[type="button"]:not(:first-child) {
    margin: 0 0 0 5px;
}

input[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

#chat-leave-button {
    background: red;
}