{% extends 'instructor_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="st_title"><i class="uil uil-apps"></i> Instructor Dashboard</h2>
                </div>

                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="card_dash">
                        <div class="card_dash_left">
                            
                            <h5>Total Enroll</h5>
                            <h2>1500</h2>
                           
                        </div>
                        <div class="card_dash_right">
                            <img src="images/dashboard/graduation-cap.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="card_dash">
                        <div class="card_dash_left">
                            <h5>Total Courses</h5>
                            
                            <h2>{{class_count}}</h2>
                            
                        </div>
                        <div class="card_dash_right">
                            <img src="images/dashboard/online-course.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card_dash1">
                        <div class="card_dash_left1">
                            <i class="uil uil-book-alt"></i>
                            <h1>Jump Into Course Creation</h1>
                        </div>
                        <div class="card_dash_right1">
                            <a class="btn btn-danger  btn-sm btn-block" href="{% url 'createCourse' %}">Create New Course</a>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col">
                    <div class="section3125 mt-50">
                        <h4 class="item_title">Your Courses</h4>
                        <div class="col">
                        <div class="la5lo1" style="display:flex;">
                          
                            {% for class in classroom %}
                            {% if class.faculty == user %}
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <a href="{% url 'course_detail' class.pk %}" class="fcrse_img">
                                            
                                            <img src="{{class.class_pics.url}}" alt="">
                                            <!-- <div class="course-overlay">
                                                
                                                
                                              
                                            </div> -->
                                        </a>
                                        <div class="fcrse_content">
                                            <div class="eps_dots more_dropdown">
                                                <a href="#"><i class='uil uil-ellipsis-v'></i></a>
                                                <div class="dropdown-content">
                                                    <span><i class='uil uil-share-alt'></i>Unenroll</span>

                                                </div>
                                            </div>
                                         
                                            <a href="{% url 'course_detail' class.pk %}" class="crse14s">Click For Details </a>
                                         
                                            <div class="auth1lnkprce">
                                            <p class="cr1fot"> Course Title: {{class.course_title}} <br>Section: {{class.course_section}}</p>
                                            <p class="cr1fot"> Course Name: {{class.course_subtitle}} <br>Class Time: {{class.class_time}}<br>Class code: {{class.class_code}}</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}         
                        {% endfor %}
                        </div>
                        
                    </div>
               
                    
            </div>
        </div>
    </div>
                <div class="col-xl-4 col-lg-6 col-md-6">



                </div>
                
            </div>
        </div>
    </div>
    
    
    


{% endblock %}
