{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <title>Sign Up</title>

    <link rel="icon" type="image/png" href="images/fav.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500" rel='stylesheet'>
    <link rel='stylesheet' href="{% static 'vendor/unicons-2.0.1/css/unicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/vertical-responsive-menu.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/night-mode.css' %}">

    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/OwlCarousel/assets/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/OwlCarousel/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"  type="text/css" href="{% static 'vendor/semantic/semantic.min.css' %}">

</head>
<body>

    <div class="sign_in_up_bg">
        <div class="container">
            <div class="row justify-content-lg-center justify-content-md-center">
                <div class="col-lg-12">
                    <div class="main_logo25" id="logo">
                        <!--<a href=""><img src="" alt=""></a>
                        <a href=""><img class="logo-inverse" src="" alt=""> -->
                    </div>
                </div>
                <div class="col-lg-6 col-md-8">
                    <div class="sign_form">
                        <div class="main-tabs">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a href="#instructor-signup-tab" id="instructor-tab" class="nav-link active"
                                        data-toggle="tab">Faculty/Instructor Sign Up</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#student-signup-tab" id="student-tab" class="nav-link"
                                        data-toggle="tab">Student Sign Up</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            
                            
                            <div class="tab-pane fade show active" id="instructor-signup-tab" role="tabpanel"
                                aria-labelledby="instructor-tab">
                                <p>Sign Up and Create your Profile !</p>
                                <form action="{% url 'facultyRegister' %}"method="POST">
                                    {% csrf_token %} 
                                    {{form}}                            
                                    <button class="login-btn" type="submit">Instructor Sign Up Now</button>
                                </form>
                            </div>



                            <div class="tab-pane fade" id="student-signup-tab" role="tabpanel"
                                aria-labelledby="student-tab">
                                <p>Sign Up and Start Learning!</p>
                                <form action="{% url 'studentRegister' %}" method="POST">
                                       {% csrf_token %} 
                                       {{form}}            
                                    <button class="login-btn" type="submit">Student Sign Up Now</button>
                                </form>
                            </div>
                        </div>
                        <p class="mb-0 mt-30">Already have an account? <a href="sign_in.html">Log In</a></p>
                    </div>
                    <div class="sign_footer"><!-- <img src="" alt=""> -->© 2020 <strong>Classroom</strong>. All
                        Rights Reserved.</div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/OwlCarousel/owl.carousel.js' %}"></script>
    <script src="{% static 'vendor/semantic/semantic.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/night-mode.js' %}"></script>
    
</body>


</html>