{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <title>Sign Up</title>

    <link rel="icon" type="image/png" href="images/fav.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500" rel='stylesheet'>
    <link rel='stylesheet' href="{% static 'vendor/unicons-2.0.1/css/unicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/vertical-responsive-menu.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/night-mode.css' %}">

    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/OwlCarousel/assets/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/OwlCarousel/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"  type="text/css" href="{% static 'vendor/semantic/semantic.min.css' %}">

</head>
<body>

    <div class="sign_in_up_bg">
        <div class="container">
            <div class="row justify-content-lg-center justify-content-md-center">
                <div class="col-lg-12">
                    <div class="main_logo25" id="logo">
                        <!--<a href=""><img src="" alt=""></a>
                        <a href=""><img class="logo-inverse" src="" alt=""> -->
                    </div>
                </div>
                <div class="col-lg-6 col-md-8">
                    <div class="sign_form">
                        <div class="main-tabs">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a href="#instructor-signup-tab" id="instructor-tab" class="nav-link active"
                                        data-toggle="tab">Faculty/Instructor Sign Up</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#student-signup-tab" id="student-tab" class="nav-link"
                                        data-toggle="tab">Student Sign Up</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            
                            
                            <div class="tab-pane fade show active" id="instructor-signup-tab" role="tabpanel"
                                aria-labelledby="instructor-tab">
                                <p>Sign Up and Create your Profile !</p>
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ user_form.as_p }}
                                    {{ faculty_profile_form.as_p}}                                    
                                    <button class="login-btn" type="submit">Instructor Sign Up Now</button>
                                </form>
                            </div>



                            <div class="tab-pane fade" id="student-signup-tab" role="tabpanel"
                                aria-labelledby="student-tab">
                                <p>Sign Up and Start Learning!</p>
                                <form>
                                    <select class="ui hj145 dropdown cntry152 prompt srch_explore">
                                        <option value="">Select Department</option>
                                        <option value="1">Accounting & Finance</option>
                                        <option value="2">Economics</option>
                                        <option value="3">Management</option>
                                        <option value="4">Marketing & International Business</option>
                                        <option value="5">MBA & EMBA Programs</option>
                                        <option value="6">Architecture</option>
                                        <option value="7">Civil & Environmental Engineering</option>
                                        <option value="8">Electrical & Computer Engineering</option>
                                        <option value="9">Mathematics & Physics</option>
                                        <option value="10">English & Modern Languages</option>
                                        <option value="11">Political Science & Sociology</option>
                                        <option value="12">Law</option>
                                        <option value="13">Biochemistry & Microbiology</option>
                                        <option value="14">Environmental Science & Management</option>
                                        <option value="15">Pharmaceutical Sciences</option>
                                        <option value="16">Public Health</option>                                        
                                    </select>
                                    <div class="ui search focus mt-15">
                                        <div class="ui left icon input swdh11 swdh19">
                                            <input class="prompt srch_explore" type="text" name="name" value=""
                                                id="id_name" required="" maxlength="64" placeholder="Name">
                                        </div>
                                    </div> 
                                    <div class="ui search focus mt-15">
                                        <div class="ui left icon input swdh11 swdh19">
                                            <input class="prompt srch_explore" type="text" name="number" value=""
                                                id="id_number" required="" maxlength="64" placeholder="Id Number">
                                        </div>
                                    </div>                            
                                    <div class="ui search focus mt-15">
                                        <div class="ui left icon input swdh11 swdh19">
                                            <input class="prompt srch_explore" type="email" name="emailaddress" value=""
                                                id="id_email" required="" maxlength="64" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="ui search focus mt-15">
                                        <div class="ui left icon input swdh11 swdh19">
                                            <input class="prompt srch_explore" type="password" name="password" value=""
                                                id="id_password" required="" maxlength="64" placeholder="Password">
                                        </div>
                                    </div>                            
                                    <button class="login-btn" type="submit">Student Sign Up Now</button>
                                </form>
                            </div>
                        </div>
                        <p class="mb-0 mt-30">Already have an account? <a href="sign_in.html">Log In</a></p>
                    </div>
                    <div class="sign_footer"><!-- <img src="" alt=""> -->© 2020 <strong>Cursus</strong>. All
                        Rights Reserved.</div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="vendor/semantic/semantic.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/night-mode.js"></script>
</body>


</html>